[submodule "modules/columnflow"]
	path = modules/columnflow
	url = git@github.com:columnflow/columnflow.git
	branch = master
[submodule "modules/cmsdb"]
	path = modules/cmsdb
	url = git@github.com:IPHCTau/cmsdb.git
	branch = master
[submodule "zttpol/data/corrections/JME/Run3_2022_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/JME/Run3_2022_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/JME/Run3-22CDSep23-Summer22-NanoAODv12.git
[submodule "zttpol/data/corrections/JME/Run3_2022EE_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/JME/Run3_2022EE_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/JME/Run3-22EFGSep23-Summer22EE-NanoAODv12.git
[submodule "zttpol/data/corrections/JME/Run3_2023_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/JME/Run3_2023_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/JME/Run3-23CSep23-Summer23-NanoAODv12.git
[submodule "zttpol/data/corrections/JME/Run3_2023BPix_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/JME/Run3_2023BPix_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/JME/Run3-23DSep23-Summer23BPix-NanoAODv12.git
[submodule "zttpol/data/corrections/EGM/Run3_2022_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/EGM/Run3_2022_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/EGM/Run3-22CDSep23-Summer22-NanoAODv12.git
[submodule "zttpol/data/corrections/EGM/Run3_2022EE_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/EGM/Run3_2022EE_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/EGM/Run3-22EFGSep23-Summer22EE-NanoAODv12.git
[submodule "zttpol/data/corrections/EGM/Run3_2023_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/EGM/Run3_2023_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/EGM/Run3-23CSep23-Summer23-NanoAODv12.git
[submodule "zttpol/data/corrections/EGM/Run3_2023BPix_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/EGM/Run3_2023BPix_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/EGM/Run3-23DSep23-Summer23BPix-NanoAODv12.git
[submodule "zttpol/data/corrections/LUM/Run3_2022_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/LUM/Run3_2022_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/LUM/Run3-22CDSep23-Summer22-NanoAODv12.git
[submodule "zttpol/data/corrections/LUM/Run3_2022EE_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/LUM/Run3_2022EE_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/LUM/Run3-22EFGSep23-Summer22EE-NanoAODv12.git
[submodule "zttpol/data/corrections/LUM/Run3_2023_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/LUM/Run3_2023_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/LUM/Run3-23CSep23-Summer23-NanoAODv12.git
[submodule "zttpol/data/corrections/LUM/Run3_2023BPix_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/LUM/Run3_2023BPix_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/LUM/Run3-23DSep23-Summer23BPix-NanoAODv12.git
[submodule "zttpol/data/corrections/MUO/Run3_2022_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/MUO/Run3_2022_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/MUO/Run3-22CDSep23-Summer22-NanoAODv12.git
[submodule "zttpol/data/corrections/MUO/Run3_2022EE_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/MUO/Run3_2022EE_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/MUO/Run3-22EFGSep23-Summer22EE-NanoAODv12.git
[submodule "zttpol/data/corrections/MUO/Run3_2023PreBPix_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/MUO/Run3_2023_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/MUO/Run3-23CSep23-Summer23-NanoAODv12.git
[submodule "zttpol/data/corrections/MUO/Run3_2023PostBPix_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/MUO/Run3_2023BPix_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/MUO/Run3-23DSep23-Summer23BPix-NanoAODv12.git
[submodule "zttpol/data/corrections/TAU/Run3_2022_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/TAU/Run3_2022_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/TAU/run3-22cdsep23-summer22-nanoaodv12.git
[submodule "zttpol/data/corrections/TAU/Run3_2022EE_Summer22_NanoAODv12"]
	path = zttpol/data/corrections/TAU/Run3_2022EE_Summer22_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/TAU/run3-22efgsep23-summer22ee-nanoaodv12.git
[submodule "zttpol/data/corrections/TAU/Run3_2023_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/TAU/Run3_2023_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/TAU/Run3-23CSep23-Summer23-NanoAODv12.git
[submodule "zttpol/data/corrections/TAU/Run3_2023BPix_Summer23_NanoAODv12"]
	path = zttpol/data/corrections/TAU/Run3_2023BPix_Summer23_NanoAODv12
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/TAU/run3-23dsep23-summer23bpix-nanoaodv12.git
[submodule "zttpol/data/tools/MuonScaReKIT"]
	path = zttpol/data/tools/MuonScaReKIT
	url = ssh://git@gitlab.cern.ch:7999/cms-muonPOG/muonscarekit.git
[submodule "zttpol/data/corrections/TAU/Run2-2018-UL-NanoAODv15"]
	path = zttpol/data/corrections/TAU/Run2-2018-UL-NanoAODv15
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/TAU/Run2-2018-UL-NanoAODv15.git
[submodule "zttpol/data/corrections/MUO/Run2-2018-UL-NanoAODv9"]
	path = zttpol/data/corrections/MUO/Run2-2018-UL-NanoAODv9
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/MUO/Run2-2018-UL-NanoAODv9.git
[submodule "zttpol/data/corrections/LUM/Run2-2018-UL-NanoAODv9"]
	path = zttpol/data/corrections/LUM/Run2-2018-UL-NanoAODv9
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/LUM/Run2-2018-UL-NanoAODv9.git
[submodule "zttpol/data/corrections/EGM/Run2-2018-UL-NanoAODv15"]
	path = zttpol/data/corrections/EGM/Run2-2018-UL-NanoAODv15
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/EGM/Run2-2018-UL-NanoAODv15.git
[submodule "zttpol/data/corrections/JME/Run2-2018-UL-NanoAODv15"]
	path = zttpol/data/corrections/JME/Run2-2018-UL-NanoAODv15
	url = ssh://git@gitlab.cern.ch:7999/cms-analysis-corrections/JME/Run2-2018-UL-NanoAODv15.git
